html, body {
	height: 100%;
	width: 100% !important;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-family: 'Lora', serif;*/
	/*font-family: 'Dosis', sans-serif;*/
	/*font-family: 'Rubik', sans-serif;*/
	/*font-family: 'Quattrocento Sans', sans-serif;*/
	/*font-family: 'Quattrocento', serif;*/
	/*font-family: 'Economica', sans-serif;*/
	font-size: 24px;
	font-weight: 200;
	-webkit-font-smoothing: subpixel-antialiased;
  overflow-y: hidden;
}
html {
	/*overflow-y: scroll;
	overflow-x: hidden;*/
}
.clear {
  clear: both;
}

#tutorial-screen {
  z-index: 9001;
  position: fixed;
  height: 100%;
  width: 100%;
  /*background-color: #1A1A1A;
  opacity: 0.5;*/
  background: rgba(26,26,26,0.7);
  visibility: hidden;
}
#tutorial-main-text {
  position: fixed;
	height: 100px;
	width: 200px;
	left: calc(50% - 100px);
	top: 100px;
  color: white;
	font-size: 22px;
	font-weight: 200;
	line-height: 24px;
  text-align: center;
  visibility: hidden;
}
#tutorial-menu-text {
  position: fixed;
	height: 100px;
	width: 150px;
	left: 5px;
	top: 55px;
  color: white;
	font-size: 24px;
	font-weight: 200;
	line-height: 26px;
  text-align: left;
  visibility: hidden;
}
#tutorial-profile-text {
  position: fixed;
	height: 100px;
	width: 150px;
	right: 5px;
	top: 55px;
  color: white;
	font-size: 24px;
	font-weight: 200;
	line-height: 26px;
  text-align: right;
  visibility: hidden;
}

#banner {
  z-index: 1001;
  position: fixed;
  height: 100px;
	width: 100%;
	margin: 0;
  top: -50px;
  left: 0px;
  background-color: #EB6D24;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#banner-container {
  position: relative;
  height: 100px;
	width: 200px;
  margin-top: 0px;
  margin-left: calc(50% - 100px);
  /*background-color: red;*/
}
#banner-text {
	position: absolute;
	height: 40px;
	width: 180px;
	left: 10px;
	top: 5px;
  /*background-color: blue;*/
  color: white;
	font-size: 15px;
	font-weight: 200;
	line-height: 20px;
  text-align: center;
}
#app-store-icon {
  position: absolute;
  height: 40px;
	width: 120px;
  top: 55px;
  left: 40px;
  cursor: pointer;
}

#everything {
	position: relative;
	display: block;
	height: calc(100% - 50px);
	width: 100%;
	margin: 0;
  margin-top: 50px;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#map-container {
	z-index: 200;
	position: fixed;
	height: calc(100% - 50px);
	width: 100%;
  top: 50px;
  background-color: #FFF;
    /*overflow-y: hidden;*/
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#map {
	height: 100%;
	width: 100%;
    /*overflow-y: hidden;*/
}
#map-structure-match-container {
  z-index: 300;
	position: absolute;
	height: 40px;
	width: 140px;
	left: 10px;
	top: 5px;
	background-color: white;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
  visibility: hidden;
}
#map-structure-match-icon {
  position: absolute;
	height: 36px;
	width: 36px;
	left: 2px;
	top: 2px;
	/*background-color: gray;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#map-structure-match-text {
  position: absolute;
	height: 30px;
	width: 90px;
	left: 45px;
	top: 5px;
	font-size: 14px;
	font-weight: 200;
	line-height: 15px;
}
#menu {
	z-index: 100;
	position: fixed;
	height: calc(100% - 50px);
	width: 100px;
	top: 50px;
	left: 0px;
	/*background-color: red;*/
}
#map-menu-button {
	z-index: 300;
	position: absolute;
	height: 40px;
	width: 40px;
	left: 10px;
	top: 55px;
	/*background-color: white;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	cursor: pointer;
}
#map-menu-button-icon {
  position: absolute;
	height: 36px;
	width: 36px;
	left: 2px;
	top: 2px;
	/*background-color: gray;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#map-profile-button {
	z-index: 300;
	position: absolute;
	height: 40px;
	width: 40px;
	right: 10px;
	top: 55px;
	/*background-color: white;*/
	/*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	cursor: pointer;
}
#map-profile-button-icon {
  position: absolute;
	height: 36px;
	width: 36px;
	left: 2px;
	top: 2px;
	/*background-color: gray;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.menu-toggle-container {
	z-index: 101;
	position: relative;
	float: left;
	clear: both;
	height: 46px;
	width: 56px;
	margin-left: 27px;
	margin-top: 10px;
	/*background-color: gray;*/
	cursor: pointer;
}
/*#menu-toggle-traffic {
	background-image: url({{ url_for('static', filename='img/markers/icon_traffic.svg') }});
}
#menu-toggle-structures {
	background-image: url({{ url_for('static', filename='img/markers/marker_icon_structure.svg') }});
}
#menu-toggle-spots {
	background-image: url({{ url_for('static', filename='img/markers/marker_icon_camera_yellow.svg') }});
}*/
#menu-toggle-hazards {
	/*background-image: url({{ url_for('static', filename='img/icons/icon_hazard.png') }});*/
	/*background-image: url("img/Harvey.png");*/
}
.menu-toggle {
	position: absolute;
	height: 46px;
	width: 46px;
	left: 0px;
	top: 0px;
	/*background-color: gray;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.menu-toggle-check {
	position: absolute;
	height: 30px;
	width: 30px;
	right: 0px;
	bottom: 0px;
	/*background-color: red;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	visibility: hidden;
}

#menu-filter-container {
	position: absolute;
	height: 150px;
	width: 100px;
	left: 0px;
	bottom: 30px;
}
#menu-filter-line {
	position: absolute;
	height: 120px;
	width: 2px;
	left: 15px;
	top: 15px;
	background-color: gray;
}
.menu-filter-dot-container {
	position: absolute;
	height: 20px;
	width: 100px;
	cursor: pointer;
}
#menu-filter-dot-container-1 {
	position: absolute;
	left: 0px;
	top: 7px;
}
#menu-filter-dot-container-2 {
	position: absolute;
	left: 0px;
	top: 47px;
}
#menu-filter-dot-container-3 {
	position: absolute;
	left: 0px;
	top: 87px;
}
#menu-filter-dot-container-4 {
	position: absolute;
	left: 0px;
	top: 127px;
}
.menu-filter-dot {
	position: absolute;
	height: 8px;
	width: 8px;
	left: 12px;
	top: 5px;
	border-radius: 50%;
	background-color: gray;
}
.menu-filter-text {
	position: absolute;
	height: 20px;
	width: 75px;
	left: 25px;
	top: 0px;
	font-size: 16px;
	font-weight: 200;
	line-height: 20px;
}
.menu-filter-check {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 14px;
	top: -7px;
	/*background-color: red;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	visibility: hidden;
}

.data-container-all {
	z-index: 300;
	position: fixed;
	height: calc(100% - 50px);
	width: 200px;
	top: 50px;
	right: -200px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: hidden;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.data-container {
  z-index: 301;
	height: 100%;
	width: 200px;
	top: 0px;
	padding-right: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}
.data-container-sub {
	z-index: 303;
	position: fixed;
	height: calc(100% - 50px);
	width: 200px;
	top: 50px;
	right: -200px;
	background-color: white;
  /*white-space: nowrap;*/
	overflow-x: hidden;
	overflow-y: hidden;
}
#repair-image-container {
  z-index: 303;
  position: absolute;
	height: calc(100% - 110px);
	width: 200px;
	top: 110px;
	padding-right: 20px;
  overflow-x: hidden;
	overflow-y: auto;
}
.repair-image-container-sub {
  position: relative;
	height: 200px;
	width: 200px;
  /*background-color: blue;*/
}
.repair-image {
	position: relative;
	height: 200px;
	width: 200px;
  /*white-space: nowrap;*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	image-orientation: from-image; /* Only works for Firefox */
}
.content-image-container {
	position: relative;
	height: 200px;
	width: 200px;
}
.content-image {
	position: relative;
	height: 200px;
	width: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	image-orientation: from-image; /* Only works for Firefox */
}
.content-image-time {
  position: absolute;
  height: 20px;
  width: 100px;
  bottom: 10px;
  left: 10px;
  padding: 3px;
  background-color: rgba(26,26,26,0.4);
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
}

#profile-logout {
  z-index: 303;
	position: absolute;
  padding: 1px;
	height: 30px;
	width: 30px;
	right: 5px;
	top: 5px;
	background-color: #3B5998;
  /*color: #1A1A1A;*/
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  line-height: 15px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
}
#profile-image {
  z-index: 302;
  position: absolute;
  top: 0px;
  left: 50px;
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-orientation: from-image; /* Only works for Firefox */
}
#profile-name {
  z-index: 302;
  position: absolute;
  top: 100px;
  left: 0px;
  height: 30px;
  width: 200px;
  color: #1A1A1A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  line-height: 30px;
}
#user-data-container {
	z-index: 303;
	position: absolute;
	height: calc(100% - 130px);
	width: 200px;
	top: 130px;
	left: 0px;
	/*background-color: red;*/
  /*white-space: nowrap;*/
	overflow-x: hidden;
	overflow-y: auto;
}
#user-data-tabs {
  z-index: 304;
	position: absolute;
	height: 40px;
	width: 200px;
	top: 0px;
	left: 0px;
	/*background-color: red;*/
  /*white-space: nowrap;*/
	overflow-x: hidden;
	overflow-y: hidden;
}
.user-data-tab {
  z-index: 305;
	position: absolute;
	height: 38px;
	width: 100px;
	top: 0px;
  color: #1A1A1A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  line-height: 38px;
  overflow-x: hidden;
	overflow-y: hidden;
  cursor: pointer;
}
#user-skills-tab {
  left: 0px;
}
#user-structure-tab {
  left: 100px;
}
.user-data-tab-selected {
  color: #1A1A1A;
  border: 1px solid #ddd;
  border-top: 2px solid #1A1A1A;
  border-bottom: 1px solid #fff;
}
.user-data-tab-unselected {
  color: #bbb;
  border-top: 1px solid #ccc;
}
.user-data-container-sub {
  z-index: 304;
	position: absolute;
	height: calc(100% - 40px);
	width: 200px;
	top: 40px;
	left: 0px;
	/*background-color: red;*/
  /*white-space: nowrap;*/
	overflow-x: hidden;
	overflow-y: auto;
}
#user-skills-container {
  z-index: 306;
  background-color: #FFF;
}
#user-structure-container {
  z-index: 305;
  background-color: #EB6D24;
}
#user-structure-text {
  position: relative;
	height: 160px;
	width: 200px;
	margin-top: 40px;
	margin-left: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#user-structure-text-note {
  position: relative;
	height: 60px;
	width: 180px;
	margin-top: 20px;
	margin-left: 10px;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  line-height: 20px;
}
#app-store-icon-structure {
  position: relative;
  height: 40px;
	width: 120px;
	margin-top: 20px;
	margin-left: 40px;
}
#structure-image {
  z-index: 302;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-orientation: from-image; /* Only works for Firefox */
}
#structure-user-tutorial {
  z-index: 303;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  /*width: 170px;*/
  width: 50px;
  border-radius: 25px;
  background-color: white;
}
#structure-user-tutorial-text {
  z-index: 304;
  position: absolute;
  top: 5px;
  right: 60px;
  height: 46px;
  width: 110px;
  /*width: 50px;*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
  font-weight: 200;
  text-align: right;
  line-height: 18px;
  visibility: hidden;
}
#structure-user {
  z-index: 303;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-orientation: from-image; /* Only works for Firefox */
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  line-height: 50px;
  background-color: white;
}
#structure-repair-container {
  position: absolute;
  top: 200px;
  left: 0px;
  height: calc(100% - 200px);
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  /*background-color: red;*/
}
.repair-container, .skill-container {
	position: relative;
  margin-bottom: 10px;
	height: 100px;
	width: 200px;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.repair-stage, .skill-stage {
	position: relative;
	height: 30px;
	width: 200px;
  background-color: #1A1A1A;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
}
.repair-detail, .skill-detail {
	position: relative;
	height: 70px;
	width: 200px;
  cursor: pointer;
}
.repair-icon, .skill-icon {
	position: absolute;
  top: 10px;
  left: 10px;
	height: 50px;
	width: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-orientation: from-image; /* Only works for Firefox */
}
.repair-title, .skill-title {
  /*position: absolute;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*top: 30px;*/
  margin-left: 70px;
	/*height: 40px;*/
	width: 90px;
  color: #1A1A1A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  vertical-align: middle;
}
.repair-arrow, .repair-exit {
	position: absolute;
  top: 10px;
  right: 20px;
	height: 50px;
	width: 20px;
  color: #1A1A1A;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 200;
  text-align: right;
  vertical-align: middle;
}
.repair-image, .skill-image {
	position: relative;
	height: 200px;
	width: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	image-orientation: from-image; /* Only works for Firefox */
}


#map-loader {
  z-index: 300;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 10px);
  font-size: 30px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}
.data-container-loader {
  z-index: 300;
  position: absolute;
  top: calc(50% - 15px);
  left: 90px;
  font-size: 15px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}
.image-loader {
  z-index: 300;
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  font-size: 7px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
  overflow-x: hidden;
	overflow-y: hidden;
}
#structure-repair-loader {
  top: calc(50% + 50px);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #1A1A1A, 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.5), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.7), 1.8em -1.8em 0 0em #1A1A1A, 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.5), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.7), 2.5em 0em 0 0em #1A1A1A, 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.5), 2.5em 0em 0 0em rgba(102, 102, 102, 0.7), 1.75em 1.75em 0 0em #1A1A1A, 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.5), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.7), 0em 2.5em 0 0em #1A1A1A, -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.5), 0em 2.5em 0 0em rgba(102, 102, 102, 0.7), -1.8em 1.8em 0 0em #1A1A1A, -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.5), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.7), -2.6em 0em 0 0em #1A1A1A, -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.5), -2.6em 0em 0 0em rgba(102, 102, 102, 0.7), -1.8em -1.8em 0 0em #1A1A1A;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #1A1A1A, 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.5), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.7), 1.8em -1.8em 0 0em #1A1A1A, 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.5), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.7), 2.5em 0em 0 0em #1A1A1A, 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.5), 2.5em 0em 0 0em rgba(102, 102, 102, 0.7), 1.75em 1.75em 0 0em #1A1A1A, 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.5), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.7), 0em 2.5em 0 0em #1A1A1A, -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.2), -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.5), 0em 2.5em 0 0em rgba(102, 102, 102, 0.7), -1.8em 1.8em 0 0em #1A1A1A, -2.6em 0em 0 0em rgba(102, 102, 102, 0.2), -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.5), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.7), -2.6em 0em 0 0em #1A1A1A, -1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(102, 102, 102, 0.2), 1.8em -1.8em 0 0em rgba(102, 102, 102, 0.2), 2.5em 0em 0 0em rgba(102, 102, 102, 0.2), 1.75em 1.75em 0 0em rgba(102, 102, 102, 0.2), 0em 2.5em 0 0em rgba(102, 102, 102, 0.2), -1.8em 1.8em 0 0em rgba(102, 102, 102, 0.5), -2.6em 0em 0 0em rgba(102, 102, 102, 0.7), -1.8em -1.8em 0 0em #1A1A1A;
  }
}
