{% extends "layout.html" %}
{% block title %}Gone{% endblock %}
{% block css %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand:300,400' rel='stylesheet' type='text/css'>
  {% assets "error_css" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block body %}
  <h1 class="header">Missing</h1>
  <p class="paragraph">Hmmm. It looks like that existed at one time, but was removed.
  <p class="paragraph">Check out the <a class="link" href="{{ url_for('root') }}">support page</a>.
{% endblock %}
